<form novalidate class="searchForm" ng-submit="logCtrl.searchLogs()">
  <select class="form-control searchForm-input" ng-model="logCtrl.level"
          ng-options="option.name for option in logCtrl.levels">
  </select>
  <input type="text" id="logSearch" class="form-control searchForm-input"
        placeholder="Search for logs" ng-model="logCtrl.searchTerm">
  <button type="submit" id="logSearchButton" class="btn">Search</button>
</form>
<div class="duration">
The request took {{logCtrl.duration}} ms.
</div>
<div ng-repeat="log in logCtrl.logs" class="log">
  <div class="log-text log-level-{{log.level}}">{{log.message}}</div>
</div>
